$modal-content-bg: var(--darkgreen);

@import "/node_modules/bootstrap/scss/bootstrap";
@import "@vueform/multiselect/themes/default.css";

:root {
  --darkgrey: #333533;
  --mediumgrey: #A3A3A3;
  --lightgrey: #B8B1B1;
  --verylightgrey: #E4E2E2;
  --darkestgreen: #bfcec9;
  --darkgreen: #CFDBD5;
  --lightgreen: #E8EDDF;
  --yellow: #F5CB5C;
  --linkyellow: #FFB900;
  --lightyellow: #F4DF9E;
  --dessertyellow: #FAF3DD;
  --dessertpeach: #FFCDB2;
  --dessertpink: #FFA69E;
  --warning: #DD636E;


  --ms-tag-bg: var(--yellow);
  --ms-tag-color: var(--darkgrey);
  --ms-option-bg-selected: var(--yellow);
  --ms-option-bg-selected-pointed: var(--yellow);
  --ms-placeholder-color: grey;
}

@font-face {
  font-family: "Gotu";
  src: local("Gotu"),
       url("/src/assets/fonts/Gotu 400.ttf")
       format("TrueType");
}

@font-face {
  font-family: "ABeeZee Regular";
  src: local("ABeeZee Regular"),
  url("/src/assets/fonts/ABeeZee-Regular.ttf")
  format("TrueType");
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 !important;
}

