$modal-content-bg: var(--lightgreen);

@import "/node_modules/bootstrap/scss/bootstrap";

:root {
  --darkgrey: #333533;
  --lightgrey: #B8B1B1;
  --mediumgrey: #A3A3A3;
  --darkgreen: #CFDBD5;
  --lightgreen: #E8EDDF;
  --yellow: #F5CB5C;

}
